<h1>Editing session</h1>

<% form_for(@session) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :timestamp %><br />
    <%= f.text_field :timestamp %>
  </p>
  <p>
    <%= f.label :five_min %><br />
    <%= f.text_field :five_min %>
  </p>
  <p>
    <%= f.label :ten_min %><br />
    <%= f.text_field :ten_min %>
  </p>
  <p>
    <%= f.label :fifteen_min %><br />
    <%= f.text_field :fifteen_min %>
  </p>
  <p>
    <%= f.label :node_id %><br />
    <%= f.text_field :node_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @session %> |
<%= link_to 'Back', sessions_path %>