<h1>Listing nodes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Hostname</th>
    <th>Logpath</th>
    <th>Type</th>
    <th>SSH User</th>
  </tr>

<% @nodes.each do |node| %>
  <tr>
    <td><%=h node.name %></td>
    <td><%=h node.hostname %></td>
    <td><%=h node.logpath %></td>
    <td><%=h node.type %></td>
    <td><%=h node.ssh_user %></td>
    <td><%= link_to 'Show', node %></td>
    <td><%= link_to 'Edit', edit_node_path(node) %></td>
    <td><%= link_to 'Destroy', node, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New node', new_node_path %>