<p>
  <b>Name:</b>
  <%=h @node.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @node.hostname %>
</p>

<p>
  <b>Logpath:</b>
  <%=h @node.logpath %>
</p>

<p>
  <b>Type:</b>
  <%=h @node.type %>
</p>

<p>
  <b>SSH User:</b>
  <%=h @node.ssh_user %>
</p>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>