<div id="header" class="round">
  <%= image_tag("graph.jpeg", :alt => "Sample App", :class => "round") %>
  <ul class="navigation round">
    <li><%= link_to "Daily", '#' %></li>
    <li><%= link_to "Weekly", '#' %></li>
    <li><%= link_to "Monthly", '#' %></li>
    <li><%= link_to "Yearly", '#' %></li>
  </ul>
</div>
